@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

* {
  font-family: 'Merriweather Sans', sans-serif; /* le pone sans seriff a todos por defecto ????? */
  box-sizing: border-box; /*Para el ancho de los elementos, tendrá en cuenta el padding que yo he añadido*/
  }

  /* VARIABLES */
  :root{
    --colorRosa: #FFD4BA;
    --colorPrueba: #254441;
    --colorCrema: #F9F9E3;
    --colorAzulC: #93CDD8;
    --colorAzulN: #78B1C9;
    --colorAzulO: #021435;
  }
  /* FIN VARIABLES */

/*CABECERA*/
  #logo{

  }

  header,nav{
    background-color: white;
    
  }

  body>header {

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  body>header>h1 {
    font-family:'MerryWeather Sans';
    text-align:center;
    color: var(--colorCrema);
    padding: 1em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom:0;
    background-color: var(--colorPrueba);
  }
/*END CABECERA*/

/*BODY*/

body{
  background-color: var(--colorAzulC);
  min-width: 360px; /* MÍNIMO PANTALLA */
}
h2{
  text-align:center;
  color: var(--colorPrueba);
}

/*NAVBAR*/

body>nav{  
  background-color:var(--colorCrema);
  text-align:center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
}


body>nav>ul{
  list-style-type: none;
  display:flex;
  flex-direction:column;
  justify-content:center;
  
  position:relative;
  left:-120%;
  margin-top:0;
  padding-bottom:1em;   
  max-height: 1em; 
  transition:max-height .5s;
}

#mostrar:checked+ul{ /* al ser checkeado que el siguiente */
  left: 0;
  max-height: 20em;
}


body>nav>label{
  cursor:pointer;
}
body>nav>#mostrar{
  cursor:pointer;
}

body>nav>ul>li>a{
  font-family:'MerryWeather Sans';
  font-size: 1.5em;
  font-weight:bold;
  color: var(--colorPrueba);
  text-decoration:none; 
}


/*END NAVBAR*/



/*FORMULARIOS*/

form{
  border: 2.25px solid var(--colorAzulO);
  border-radius: 15px;
  margin: .5em;
  padding: .5em;
  background-color: var(--colorAzulN);
  color: var(--colorAzulO);

}

  #tituloReg{
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid var(--colorAzulO);
    padding-bottom: .2em;
  }

  form>p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.15em;
  }


    form>p>input{
      width: 75%;
      margin: .2em auto;
      padding: .5em;
      border-radius: 15px;
    }

      form>p>input:focus{
        background-color: var(--colorCrema);
      }

    form>p>img{
      width: 200px;
      height: 200px;
      margin: .5em auto;
    }

    form>button{
      padding: .5em;
      width: 30%;
      height: auto;
      display: block;
      margin: 0 auto;
      border-radius:15px;
    }

/*END FORMULARIOS*/

/*END BODY*/


@media all and (min-width:655px){

  form{
    max-width: 800px;
    margin: 0 auto;
  }
}

@media all and (min-width:360px){
  
  body>nav>label{
    display:none;
  }   
  body>nav>#mostrar{
   display:none;
  }   

  body>nav>ul{
   display:flex;
   flex-direction:row;
   left:0;
   max-height:20em;
  }
  body>nav>ul>li{
    padding: .5em;
  }
}