@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');

* {
  font-family: 'Frank Ruhl Libre', serif; /* le pone sans seriff a todos por defecto ????? */
  box-sizing: border-box; /*Para el ancho de los elementos, tendrá en cuenta el padding que yo he añadido*/
  }

  /* VARIABLES */
  :root{
    --colorRosa: #FFD4BA;
    --colorPrueba: #254441;
    --colorCrema: #F9F9E3;
    --colorAzulC: #93CDD8;
    --colorAzulN: #78B1C9;
    --colorAzulO: #021435;
  }
  /* FIN VARIABLES */

/*CABECERA*/
  #logo{
    margin: 0;
    padding: 0;
    width: 50px;
    max-height: auto;
  }

  header,nav{
    margin: 0 2em;
  }

  header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 2em;
  }

  header>h1, header>h2 {
    padding: .5em;
  }

  header>h1 {
    margin:0;
    padding-left: 15%;
    color: var(--colorCrema);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--colorPrueba);
    border-top: 3px solid var(--colorAzulC);
    border-left: 3px solid var(--colorAzulC);
    border-right: 3px solid var(--colorAzulC);
  }

  header>h2{
    margin:0 auto;
    text-align:center;
    background-color: white;
    color: var(--colorPrueba);
    border-bottom: 3px solid #e3e3e3;
    border-left: 3px solid var(--colorAzulC);
    border-right: 3px solid var(--colorAzulC);
  }
/*END CABECERA*/

/*BODY*/
body{
  background-color: #d2f4fa /*var(--colorAzulC)*/;
  min-width: 360px; /* MÍNIMO PANTALLA */
}

  body>section>h3{
    text-align: center;
    font-size: 1.5em;
  }

/*NAVBAR*/
body>nav{
  background-color:var(--colorCrema);
  text-align:center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: 3px solid var(--colorAzulC);
  border-right: 3px solid var(--colorAzulC);
  border-bottom: 3px solid var(--colorAzulC);
}

  body>nav>ul{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    justify-content:center;

    position:relative;
    left:-120%;
    margin-top:0;

    max-height: 1em;
    transition:max-height .5s;
  }

  #mostrar:checked+ul{ /* al ser checkeado que el siguiente */
    left: 0;
    max-height: 20em;
  }

  body>nav>label{
    cursor:pointer;
  }
  body>nav>#mostrar{
    cursor:pointer;
  }

    body>nav>ul>li>a{
      font-size: 1.5em;
      font-weight:bold;
      color: var(--colorPrueba);
      text-decoration:none;
    }

/*END NAVBAR*/

/*FORMULARIOS*/
#formu{
  border: 2.25px solid var(--colorAzulO);
  border-radius: 15px;
  margin: 3em;
  padding: .5em;
  background-color: var(--colorAzulN);
  color: var(--colorAzulO);
}

  #tituloReg{
    text-align: center;
    border-bottom: 1px solid var(--colorAzulO);
    padding-bottom: .2em;
  }

  #formu>p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.15em;
  }

    #formu>p>input{
      width: 75%;
      margin: .2em auto;
      padding: .5em;
      border-radius: 15px;
    }

      #formu>p>input:focus{
        background-color: var(--colorCrema);
      }

      #formu>p>input:hover{
        background-color: var(--colorRosa);
      }

    #formu>p>img{
      width: 150px;
      height: 150px;
      margin: .5em auto;
    }

    #formu>button{
      padding: .25em;
      width: 20%;
      height: auto;
      display: block;
      margin: 0 auto;
      border-radius:15px;
      cursor: pointer;
    }

    #formu>button:hover{
        background-color: var(--colorRosa);
    }

    #formu>button:active{
        background-color: var(--colorRosa);
    }

#busquedaRapida{

}

/*END FORMULARIOS*/

/*LISTA DE ARTICULOS*/
.boxProd{
  margin: 1em;
  background-color: white;
  border: 1px solid black;
}

.boxProd:hover{
  background-color: var(--colorAzulC);
  border: 3px solid var(--colorAzulN);
}

  .boxProd>h4{
    text-align: center;
    font-size: 1.25em;
  }

  .ftoArt{
    max-width: 150px;
    height: auto;
  }

/*END LISTA DE ARTICULOS*/

/*END BODY*/

/*QUERYS*/
@media all and (min-width:1300px){ /*EXCLUSIVO PARA EL HEADER*/
  header,nav{
    max-width: 1155px;
    margin: 0 auto;
  }
  header{
    margin-top: 3em;
  }
}

@media all and (min-width:680px){
/*NAVBAR*/
  body>nav>label{
    display:none;
  }

  body>nav>#mostrar{
   display:none;
  }

  body>nav>ul{
   display:flex;
   flex-direction:row;
   left:0;
   max-height:20em;
  }

    body>nav>ul>li{
      padding: .5em;
    }
/*end NAVBAR*/

#formu{
  max-width: 600px;
  margin: 0 auto;
}

/*FLEX ARTICULOS*/
body>section>#flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /*REPARTE EL ESPACIO DEL FLEX*/
}

body>section>#flex>article{ /*2 ARTICULOS*/
  width: 45%;
  margin: .5em;
  flex-grow: 1; /*CRECEN TODOS EN 1, SI AUMENTAS ES EL DOBLE O TRIPLE DEL TEMAÑO Y SE REPARTEN EN PARTES IGUALES*/
}
/* END FLEX ARTICULOS*/
}

@media all and (min-width:655px){

}

/*PARA FLEXEAR ARTICULOS*/
@media all and (min-width:960px){ /*3 ARTICULOS*/
  body>section>#flex>article{
    width: 30%;
  }
}
@media all and (min-width:1190px){ /*4 ARTICULOS*/
  body>section>#flex>article{
    width: 20%;
  }
}
/*PARA FLEXEAR ARTICULOS*/
